[2020-08-22 19:42] leobm opened #4 "Not expected behavior of $component/$parent helper"
Hi,

I have an unexpected behaviour of $component/$parent,  when I have multiple nested components.
I've created some simple tests. The examples are not quite realistic, but I hope they show the problem.

Or in a x-for loop, the  $parent ist not defined after the component mount phase ?
I'm not sure if I don't understand the helper correctly or if this is a bug.

[code]

[2020-08-23 05:54] #4 closed, assigned to nobody

[2020-09-07 22:45] SimoTod opened #9 "Children don't get updated if a parent property changes but there are no visible changes in the DOM."
Flagged on discord. Due to the component using the mutation observer, if nothing changes when updating a property, a child component won't pick it up.

for example
[code]

[2020-09-10 05:47] #9 closed

[2020-09-16 22:35] rootEnginear opened #12 "Child element needs to fire event 2 times to mutate parent data"
## Issue:
When you try to mutate parent data from a child element on an event, you need to fire it 2 times. I have also tried to pre-bind `data-last-refresh` but it does not give me any luck.
![https://lh3.googleusercontent.com/5rUjGyovBt9g16iesV8NCq6U5X4uNjZqiIm_Sz295r9WCSGbpDYFTuShn2BB47wFPsoxphIUO4ZOhSTQ3xYc=w1919-h903-rw](https://lh3.googleusercontent.com/5rUjGyovBt9g16iesV8NCq6U5X4uNjZqiIm_Sz

[2020-09-17 06:09] KevinBatdorf commented on #12
Alpine won't see and register the magic helper until it encounters it, and being that it's in an event, it's not registered until the event is triggered.

I'll see if there is something I can add as a work around, but it might be a good thing to PR in Alpine itself.

If you use the helper outside of the event anywhere, Alpine will register it. For example:
[code]

[2020-09-21 06:44] #12 closed

[2020-09-25 16:31] HugoDF opened #15 "Add an Alpine.js version check"
Add a check to `checkForAlpine` that "Alpine version > version that added addMagicProperty"

[2020-09-25 16:33] HugoDF opened #16 "Clean up `$truncate` params"
https://github.com/alpine-collective/alpine-magic-helpers/pull/7#discussion_r491068388

[code]

the `...parameters` isn't necessary at this point, could be converted to `(string, options)` to clean up that function.

[2020-09-27 20:34] SimoTod commented on #15
Added to refactor PR

[2020-09-27 20:34] #15 closed

[2020-09-30 20:33] HugoDF opened #21 "Write updated version from package.json to README"

[2020-10-05 00:28] #21 closed

[2020-10-05 07:19] SimoTod opened #25 "$parent/$component broken when using Alpine legacy build"
Both the current tag and the refactored version (using Alpine the legacy build from master) return errors and broken components when loading the example page for component.

[2020-10-05 07:28] KevinBatdorf commented on #25
Looking now. Any idea why? It was working when we tested that legacy patch previously, right?

[2020-10-05 07:37] KevinBatdorf commented on #25
For some reason `window.deferLoadingAlpine` is undefined at this point
[code]

[2020-10-05 07:43] SimoTod commented on #25
i don't know. I think we tested the patch with truncate.
This issues seems different. I have to go to work now but I can have a look and add more details tonight.

deferLoadingAlpine is null because no other libraries tried to defer it before our component which is the reason why we have a fallback `const alpine = window.deferLoadingAlpine || ((alpine) => alpine())`. I think it's fine

[2020-10-05 07:47] KevinBatdorf commented on #25
I moved it above Alpine and it works but I got a different error:

Which happens when `(!observedComponent.__x)`. But I believe that should be defined by that point. That check is to make sure the component is still there.

[2020-10-30 02:15] HualiQiu opened #28 "Alpine magic helpers do not work in IE 11"
I wanted to use Alpine magic helpers in IE 11, but it didn't work.

Error message @parent undefined

![image](https://user-images.githubusercontent.com/60037943/97652154-b50fe100-1a98-11eb-999a-8430bf819c0b.png)

[2020-10-30 11:16] KevinBatdorf commented on #28
Hi,

I wonder if this is an issue with Alpine specifically and how it registers helpers since it's not even defined. Can you share what version of Alpine you have? And can you share how you are loading the scripts exactly?

[2020-11-02 07:32] HualiQiu commented on #28
hello,this is my demo
[code]
I tried to add alpine-ie11.min.js to fix Alpine.It can fix alpinejs, but it can't fix index.js.

[2020-11-02 08:30] SimoTod commented on #28
The magic helper file goes before Alpine (there's a little note in the install section https://github.com/alpine-collective/alpine-magic-helpers#installation).
The reason is that it needs to register the helpers before Alpine kicks in.
Can you move it and see if it fixes your issue?

[2020-11-03 01:39] #28 closed

[2020-11-23 08:52] KevinBatdorf opened #47 "$interval test failing"
@KevinBatdorf interval test failing for some reason. Also sometimes it happens on my local. Probably there is something related with timeouts

_Originally posted by @muzafferdede in https://github.com/alpine-collective/alpine-magic-helpers/issues/42#issuecomment-731968098_

[2020-11-29 16:51] mikestempien opened #52 "$scroll target scroll offset not always an Integer"
Scroll offset calculation sometimes gives us a value with a fraction ex: 8245.125
`target = target.getBoundingClientRect().top + window.pageYOffset`

then, it fails this check:
`if (Number.isInteger(target)) {`

continues to:
`if (typeof target !== 'object')`

and throws **Unsupported $scroll target** error

[2020-11-29 16:57] SimoTod commented on #52
Good catch. I think we can simply use Math.floor(...)  to round down the result. Are you happy to send a PR? Otherwise I can have a look tomorrow.

[2020-11-29 17:46] mikestempien commented on #52
With my javascript/build/test/pr knowledge, I'd probably just embarrass myself 🙈😅

[2020-11-29 19:52] SimoTod commented on #52
Well, you looked at the code and found the bug. I think it was pretty good. No worries, I'll push a fix and a test for it tomorrow. Thanks for spotting it.

[2020-11-30 06:23] OGhawsi opened #53 "Unsupported $scroll target"
This is really a very helpful package and I am trying to use it inside laravel app.
I have imported both `import 'alpine-magic-helpers'; import 'alpinejs';`
I am trying to use the $scroll helper and I have tried both $refs and using #id but when I click on the button to scroll to that specific  section, It is not working and it shows  the following error in the console.
`
Uncaught (in promise) Err

[2020-11-30 06:24] OGhawsi opened #54 "Unsupported $scroll target"
This is really a very helpful package and I am trying to use it inside laravel app.
I have imported both `import 'alpine-magic-helpers'; import 'alpinejs';`
I am trying to use the $scroll helper and I have tried both $refs and using #id but when I click on the button to scroll to that specific  section, It is not working and it shows  the following error in the console.
`
Uncaught (in promise) Err

[2020-11-30 06:29] #53 closed

[2020-11-30 06:30] OGhawsi commented on #53
Due to a slow internet connection, the issue got submitted twice.

[2020-11-30 07:34] SimoTod commented on #54
https://github.com/alpine-collective/alpine-magic-helpers/issues/52
It could it the same bug reported here. There will be a fix soon, I'll message you to test it when ready.

[2020-11-30 08:53] SimoTod commented on #52
@mikestempien Can you let me know if <script src="https://cdn.jsdelivr.net/gh/SimoTod/alpine-magic-helpers@bug/scroll-float-values/dist/index.min.js"></script> fixes your bug? If everything is okay, we'll tag a patch release soon. Thanks

[2020-11-30 08:54] SimoTod commented on #54
@OGhawsi Wnen you have time, could you try <script src="https://cdn.jsdelivr.net/gh/SimoTod/alpine-magic-helpers@bug/scroll-float-values/dist/index.min.js"></script> and let me know if it fixes your bug?
If everything is okay, we'll tag a patch release soon. Thanks

[2020-11-30 13:14] mikestempien commented on #52
Yep, works in my case, thanks.

[2020-11-30 16:34] #52 closed

[2020-11-30 16:59] SimoTod commented on #54
We released it so your error may be fixed already. Let us know.

[2020-12-01 05:31] OGhawsi commented on #54
Thanks, @SimoTod for your quick fix and response. It is working fine now.
and I have noticed that the size of my js file increased to 417 KiB from 200 Kib after installing alpine-magic-helpers, and with npm run prod, the js file size is 50 KiB and without this package, it is only 26 KiB. And AlpineJS is known for its small size, so it would be nice if the size of the compiled package is reduced.
T

[2020-12-01 05:32] #54 closed

[2020-12-01 11:26] SimoTod commented on #54
HI @OGhawsi. thanks for confirming that.

This library adds a bunch of features to enhance the Alpine experience. That comes with a cost, additional KB.
As you pointed out, in production and with proper minification is currently ~24KB because there is some additional code to support multiple browsers.

This is unlikely to diminish and it will go up while we add new features but we will try to keep

[2020-12-21 11:12] Hujjat opened #61 "Is it possible to use multi-level $parent.$parent"
Hello.

Thanks for your awesome helpers

Just a quick question. Is it possible to use `$parent.$parent.property` ?

I have data property at the body but a two-level component. I want to update the body data property from 2nd child.

What's the solution to this?

Thank you.

[2020-12-21 11:18] KevinBatdorf commented on #61
That's not possible, but you can use `$component('#grandparent')` instead.

[2020-12-21 23:17] Hujjat commented on #61
Thank you @KevinBatdorf

[2020-12-21 23:17] #61 closed

[2020-12-27 02:55] markfirmware opened #63 "$component of self has trouble"
Try this:

    <div x-id='main' x-data="{ x: 1 }">
        <span x-text="$component('main').x">
        </span>
    </div>

A variant of this structure in my actual program produces undefined for the text instead of becoming non-responsive.

[2020-12-27 06:42] KevinBatdorf commented on #63
`$component()` is to be used to accessing properties from outside of its own component scope, so for this you would just use `x`.

Can you make a Codepen showing your issue with the error being reported?

[2020-12-27 09:41] SimoTod commented on #63
Hi @markfirmware. I think there's some confusion about how Alpine works (also considering the other issues you opened on the official repo).

[code]

I hope it makes things clearer. In both repo there are discussion tabs where you can ask questions, we tend to use those ones and only use issues for actual bugs. There is also a discord server you can join where other people can help with basic ques

[2020-12-27 15:03] markfirmware commented on #63
https://codepen.io/markfirmware/pen/poEdqRz

[2020-12-27 16:05] SimoTod commented on #63
The codepen works as expected. Could you please describe what the issue exactly is and how to reproduce it?

As a separate note, you don't need to use $component if you are already inside the scope of the right component. `x-text="x"` works just fine and it's more performant.

[2020-12-27 16:08] markfirmware commented on #63
I am using firefox on a debian digital ocean droplet. The codepen indicates script trouble that needs to stop or wait. Let me see if a fresh droplet or linode can reproduce.

[2020-12-27 16:21] SimoTod commented on #63
Thanks, I tried forefox and it actually freezes.

As we said at the beginning, you shouldn't use $component if you are already inside the right component context but we'll see if we can fix it or, at least, warn the user about circular references.

[2020-12-27 16:26] markfirmware commented on #63
Ok. I will let you close this or manage it as you see fit. See you in the discussions. Mark.

[2020-12-27 16:42] SimoTod commented on #63
No worries.

Note for the team. Regression happened in https://github.com/alpine-collective/alpine-magic-helpers/compare/4ef9ed6de4abfc9cacf0fb230e2985f065981ed8...f9e4a3b883f47fb974e96f488588df45ab739e7c.
It seemed to work correctly before that refactoring.

[2020-12-28 11:11] KevinBatdorf commented on #63
We could probably easily add a check `if ($el === component.__x.$el) then bail` but I'm curious whether there's an opportunity for some optimization though

[2020-12-29 00:58] jskorlol commented on #63
[code]

I created another <div x-data> outside of <div x-data> to solve the css that occurs while making select2.

Thus, the css problem was solved. Almost everything has been resolved.

But. Last ! There was a problem at the end.
selected: in function (id)
console.log(this.$component(${this.name}).input);
this.$component(${this.name}).input = id

Calling another x-id via this.$component takes fre

[2020-12-29 16:52] SimoTod commented on #63
The second example is a bit more complex.
Basically, you have 3 components and you built a circular reference between them.
From component 1 you refer component 3 and from component 3 you refer component 1. At that point, when you click on 1 and 3, the system start updates the component forever and it eventually freeze.

Not related to the reported bug but using events to communicate between compo

[2020-12-30 01:55] jskorlol commented on #63
That's right, but due to the css problem, I had to open the select listbox at the end of the body like select2.
However, I solved the css problem and made it a single component.

Now you know that there is also a way to do it as an event when component 1 communicates to component 3!

Thank you :)

[2021-01-02 10:59] SimoTod commented on #25
I believe this is now fixed

[2021-01-02 10:59] #25 closed

[2021-01-27 01:44] dane-skipper opened #71 "Add `defer` attribute to `script` tags under Installation header in README"
The demonstrated Install instructions on the AlpineJS repository use the `defer` attribute on the `script` tag. Perhaps the README and the Installation `script` tag demonstrations here should be updated accordingly as well?

NB: I have not read the source code for these helpers, so I don't know if there's a reason for the helpers to block the parsing of the page while loading and then executing. M

[2021-01-27 07:49] SimoTod commented on #71
There's no reason. It's up to the developer, it should match the Alpine script and the helper script should come first. We are happy to accept PRs to improve the readme.

To add more details, One can decide to have defer or to put both scripts at the botton of the page or both without defer. They are all valid combinations.

We didn't describe that in the readme because it might confuse people if

[2021-01-31 04:49] KevinBatdorf commented on #63
I don't think we need to be supporting circular references as that sort of defeats the purpose of using `$component` and adds way too much overhead that shouldn't be there. ie. it's better we let this break.

A PR to show a warning would be nice though if anyone wants to add some detection.

[2021-01-31 04:49] #63 closed

[2021-01-31 04:50] KevinBatdorf commented on #47
I believe we fixed this by increasing the test wait time

[2021-01-31 04:50] #47 closed

[2021-01-31 04:54] KevinBatdorf commented on #71
Yeah, this is tricky because the helpers _need_ to load before Alpine and adding `defer` can sometimes cause race conditions of script loading. I believe this is because when `defer` is added, browsers don't guarantee the order they will load in the script, and instead use other factors like file size.

My thoughts on this are that if you really need to defer the script you should probably use a b

[2021-01-31 04:54] #71 closed

[2021-01-31 18:07] dane-skipper commented on #71
Oh interesting -- thank you for the context and the tip!

On Sat, Jan 30, 2021 at 8:54 PM Kevin Batdorf <notifications@github.com>
wrote:

[2021-01-31 19:16] KevinBatdorf commented on #71
@dane-skipper I updated that reply a bit for more clarity/context (probably didn't show in your email). My original reply was probably more anecdotal based on observations in Discord than anything else.

The readme could probably use a bit more clarity as well on the issue. I'll try to find a responsible way to add something to the docs.

[2021-02-01 22:54] atomgiant opened #74 "$component / $parent should have access to Alpine magic properties"
Ideally a $component should behave the same as the Alpine function and have access to magic properties such as $refs and $el.

Here is a simple example that shows this in action:
https://codepen.io/atomgiant/pen/abBOdap

A simple workaround that I am using instead of $component for now is:

`document.getElementById(e).__x.$data`

This seems to support all the standard Alpine behavior.

[2021-02-02 09:19] SimoTod commented on #74
Good point. As you noticed, $component doesn't have access to the magic properties of the other component.
document.getElementById(e).__x.$data works, but if you have different components in your page reading from the same $data, they won't be reactive.

[2021-02-02 17:04] atomgiant commented on #74
Thanks @SimoTod.

I updated my Pen (https://codepen.io/atomgiant/pen/abBOdap) with a workaround example. The component itself is reactive. I assume you mean if other components were sharing that same data they would not be reactive. I'm ok with that personally.

Right now the $component does not behave the same as it does when run in Alpine. At least with the __x.$data approach the component behav

[2021-02-02 17:27] SimoTod commented on #74
The scope of $component is to access data of the other component, not to clone Alpine. I don't expect $component('something').$magicProperty to work but we can probably fix the fact that this is not correct in your initial example.
It will need some investigation though.

The workaround you proposed it's not fully reactive, if you have component A and B reading from component C and A updates C, B

[2021-02-02 17:52] atomgiant commented on #74
Perhaps an example use case would help here.

![Screen Shot 2021-02-02 at 12 41 19 PM](https://user-images.githubusercontent.com/21659/106640379-f6120880-6553-11eb-8df5-6b061c57a10a.png)

This is an Alpine powered modal component to pick styles. In the background you can see the other color pickers such as background and text which are also Alpine components.

When the Apply Style is selected on t

[2021-02-02 18:33] SimoTod commented on #74
No, we can leave it open. I didn't explain myself.
I believe (TBC) that the problem is that `this` is not correct when you call the function. You can reach setColor and inside that function call, you should be able to access this.$refs since at that point you should be in the other component.
I don't think you can do $component(...).$refs directly though because it's technically complex.
I "think"

[2021-02-03 14:06] SimoTod commented on #74
@atomgiant Can you try https://cdn.jsdelivr.net/gh/simotod/alpine-magic-helpers@bug/correct-scope-for-function-when-using-component/dist/index.min.js and let me know if it fixes your issue?

[2021-02-03 14:38] atomgiant commented on #74
@SimoTod I updated the codepen linked above to use your fix. That seemed to do the trick.

Nice job! Thanks for your help on this.

[2021-02-03 14:50] SimoTod commented on #74
cool, It needs to pass code review and then we'll tag a release soon. Watch this space. :)

[2021-02-03 18:47] HugoDF commented on #16
Closing this, we don't need an issue to keep track of it and it looks like we started using 3 params for that function

[2021-02-03 18:47] #16 closed

[2021-02-04 23:29] fgb4101 opened #77 "Idea: Axios API smaller dependency"
Someone shared this library on work chat, so I'm sharing it here in case you are interested.

https://github.com/developit/redaxios
The Axios API, as an 800 byte Fetch wrapper.

**Extract from the README**
Axios has a great API that developers love. Redaxios provides that API in **800 bytes**, using native `fetch()`.

For those searching for ways to shave a few kilobytes off of their bundles, that

[2021-02-04 23:53] SimoTod commented on #77
Thanks for sharing. We are still supporting IE for now so it might not work but we'll have a look. 👍

[2021-02-05 01:47] #74 closed

[2021-02-13 15:36] #77 closed

[2021-02-13 15:39] KevinBatdorf opened #88 "Automate Changelog update"
Currently the [Unreleased] header isn't updated when making a release.

If someone wants to take this on please do or I can look into it on Sunday

[2021-02-14 07:55] j-greig opened #89 "Feature request: $cache"
For use with $fetch :)

[2021-02-14 10:21] SimoTod commented on #89
Thanks for suggesting it.
Could you post an example of how you immagine the feature to work?

[2021-02-14 15:53] #89 closed

[2021-02-15 15:30] #88 closed

[2021-02-23 19:18] pomartel opened #95 "Accessing the $parent properties and functions from the child init() no longer works in 1.0.0"
Accessing properties and functions from `$parent` in the child `init()` function works in version 0.6.0. It no longer works in 1.0.0 so this might be a regression.

0.6.0 (works) : https://codepen.io/pomartel/pen/jOVaZKX
1.0.0 (broken): https://codepen.io/pomartel/pen/bGBYLmx

[2021-02-23 19:47] SimoTod commented on #95
Hi Pierre, thanks for reporting. The reason is that, when the child runs x-init, the parent hasn't fully initiated yet. 0.x was using an hack to evaluate the parent x-data in the child when the parent component was not ready. The problem with that approach was that it was using a different object under the scene so you couldn't access the magic properties of the parent component.
1.0 defers the ev

[2021-02-23 19:58] pomartel commented on #95
Thanks @SimoTod! a `setTimeout` indeed does the trick. I can live with that. I see you did not put a delay for your timeout. Will that always work? Or should I put a 10ms delay or more?

[2021-02-23 20:04] SimoTod commented on #95
It will always work, requestAnimationFrame would work as well. It just needs to release the main thread of execution so the parent can carry over. Js is single threaded, setTimeout is just a close match. By the time it gets the control back, parent will be fully available.
I'll keep you posted if we can make it work again, keeping the enhanced functionalities. If we can't do anything, we'll need t

[2021-02-24 14:35] SimoTod commented on #95
@pomartel $nextTick works as well. At the moment, we can't fix it without breaking other features so I just added a special section in the readme to add clarity about the known issue.

[2021-02-24 15:23] pomartel commented on #95
Great, thanks for your help!

[2021-02-24 15:23] #95 closed

[2021-03-31 08:57] basepack opened #111 "$screen seems to be broken in combination with Livewire"
I have a fairly complex setup and I first thought that it was the reason that it did not work anymore.

However see the simple code below that currently does not work with `$screen('sm')`, and gives this error: `Uncaught ReferenceError: $screen is not defined`

[code]

You can toy around here where I also added my usecase with an `x-data` function:
https://laravelplayground.com/#/snippets/81b039fe

[2021-03-31 11:27] SimoTod commented on #111
Thanks for reporting the issue. We need to look into it (It must be something Livewire does) but it works correctly if you either
- include the magic helper after Livewire: https://laravelplayground.com/#/snippets/2d7d1e35-c8fb-4e7e-a9a2-e59e9ff6c7e2
- defer the helper library as you do for alpine (js modules are deferred by default): https://laravelplayground.com/#/snippets/0834288e-a00c-4665-884

[2021-03-31 11:48] basepack commented on #111
SimonTod thanks for the heads up! Indeed, the issue is gone then.

I think it is a good idea to mention this behavior at least at the `$screen` documentation, I added a PR for it.

[2021-03-31 12:00] dannyuk1982 opened #113 "Using $refresh in a function?"
Is it possible to use $refresh to force a component to update?

I have this function in one component:
[code]

which is used by:
[code]
It basically checks if that `item`'s `value` is in the Spruce store array of `stats`.

The value of `this.$store.stats` gets changed after this is called (I can't change the loading order either) but this function doesn't then seem to reflect this change.

I appre

[2021-03-31 14:58] KevinBatdorf commented on #113
Refresh should work as expected. Was it not doing anything? I'm not sure how it will work with Spruce though. If you have an example of something not working I can try to debug why.

[2021-03-31 15:03] KevinBatdorf commented on #111
I'm okay with changing the docs. I think we will end up with people who put the Helpers script after Alpine with defer and it will break, but without defer, it still would probably work since Alpine is deferred. But let's update it and see what happens.

Alternatively I think Ryan did something with Spruce to ensure it's loaded in properly. We could try something like that. I haven't checked what

[2021-03-31 15:09] dannyuk1982 commented on #113
Thanks @KevinBatdorf - what would the syntax be `this.$refresh`?

Are `$parent.$refresh()` or `$component('foo').$refresh()` options?

[2021-03-31 15:40] dannyuk1982 commented on #113
Yea sure, thanks - I know my way around Alpine, just new to magic helpers! Cheers

[2021-03-31 15:40] #113 closed

[2021-03-31 16:39] SimoTod commented on #111
Yep, putting it at the end of the page, after livewire, would work too. Tbh, it should work with and without defer in the original example so there could be something we can improve but i haven't looked into it yet.

[2021-03-31 18:42] SimoTod commented on #111
Okay, I had a look and unfortunately, it cannot be fixed in our repo.
All our helpers preserve any previous callback that is supposed to run before alpine doing
[code]
but livewire just overrides deferLoadingAlpine discarding any previously registered callback.
[code]

I'm going to close this issue since it's not strictly a helper issue.
We'll integrate something based on your PR in the readme soo

[2021-04-01 09:45] basepack commented on #111
@SimoTod that's unfortunate. If I read this correctly there is a change required in the Livewire codebase for the Magic Helpers to register correctly.

[2021-04-01 10:02] SimoTod commented on #111
Yeah, it works okay if you follow the defer rule we discussed above but if you put the library before livewire without defer, livewire will just override the code. :(

[2021-04-01 15:20] KevinBatdorf commented on #111
Could PR livewire too I suppose!

[2021-04-01 18:37] #111 closed

[2021-04-13 08:53] pfrlv opened #117 "$get and $post are not defined"
Hi, simple string of code not working:

[code]

and i have exception like:
[code]

[2021-04-13 10:50] Aktarus006 opened #118 "autoIntervalTest in $interval doesn't resume/restart properly"
Hello 👋

First of all, thank you for the good work with these helpers.

I'm trying to build an image slider using $interval.
I want it to start automatically on init and pause/resume on @mouseenter and @mouseleave.

Here is my code:

`<div x-data="{`
        `timer: 7000,`
        `autoIntervalTest: true,`
        `autoplaySlider: function() {`
         `    document.getElementById('next_btn').cli

[2021-04-13 11:05] SimoTod commented on #117
They were added in the last release. Make sure your CDN link is up to date.

[2021-04-13 16:14] KevinBatdorf commented on #118
Does adding Alpine's `.debounce` modifier work here? `@mouseenter.debounce="autoIntervalTest = false"`

[2021-04-13 21:38] SimoTod commented on #118
I believe the issue sits here: https://github.com/alpine-collective/alpine-magic-helpers/blob/master/src/interval.js#L59

[2021-04-13 21:45] SimoTod commented on #118
I think a return statement at line 38 should do the trick `return setTimeout(...`

[2021-04-13 22:51] KevinBatdorf commented on #118
That sounds right @SimoTod. @Aktarus006 could you test that change in your code?

[2021-04-14 17:06] Aktarus006 commented on #118
Hello guys,

Thanks for your quick replies.

@KevinBatdorf I tried with debounce, it helps to reduce the issue but not fix it completely.

@SimoTod, here is what I did in interval.js:
![image](https://user-images.githubusercontent.com/20419262/114750010-cfdac700-9d53-11eb-9ed2-157d990e3e0e.png)

It doesn't seem to work.

I used npm link in the node_modules/alpine-magic-helpers and then npm link at

[2021-04-14 17:14] KevinBatdorf commented on #118
You could add a `console.log('in here')` or something just above the return statement to check it's right.

Can you set up your code on codepen showing where' it's broken? I can update it there and check if that's easier

[2021-04-14 18:47] SimoTod commented on #118
I thought it was simply that but I didn't look at the code properly. we are assigning the function, not the return value, to this.autoIntervalLoop so it needs a bit more refactoring. Let me know if you are happy to give it a try, otherwise, I can look into it over the weekend.

[2021-04-14 19:51] Aktarus006 commented on #118
OK, I've made a codepen with an example.
https://codepen.io/aktarus006/full/KKaRxqW

So the slider is made with [ta-gallery](https://github.com/markusantonwolf/ta-gallery)
The expected behaviour is to autoplay the slider and change banner every 7 seconds. When mouseenter the banner, it pause the timer and it starts again when leaving it.

Try to move your mouse in and out from the banner a few tim

[2021-04-16 20:00] SimoTod opened #119 "Test failing with latest Alpine version"
If we run npm update and we pull the latest version of Alpine, `$undo > component can keep track after component is replaced with a clone` starts failing. Not sure if it's a red herring but I think a bug fix/BC went into the latest version around how alpine behaves in regards to a cloned element and it might affect $undo. cc @KevinBatdorf

[2021-04-16 20:26] KevinBatdorf commented on #119
Aye.. ok let me check this weekend. Good thing I added that test I suppose

[2021-04-18 08:22] SimoTod commented on #117
Sorry @pfrlv
I thought that $get and $post were already released but actually, they were just merged into master.
I've just tagged a new release including them v1.2.0.

[2021-04-18 14:06] #117 closed

[2021-04-20 10:52] SimoTod commented on #118
@Aktarus006 Can you try https://cdn.jsdelivr.net/gh/kevinbatdorf/alpine-magic-helpers@master/dist/interval.js and let me know if it fixes the issue?

[2021-04-20 11:51] Aktarus006 commented on #118
Hello @SimoTod,

I've tested your script and the issue seems to be fixed. The slider behaves as it should.

Many Thanks!

[2021-04-20 19:17] SimoTod commented on #118
Thanks, @Aktarus006
I've just tagged v1.2.1.

[2021-04-20 19:17] #118 closed

[2021-04-22 23:39] mrbm opened #122 "Using $parent in for loop data that has been fetched (to be eventually used in an interval)"
Howdy, somewhat new to the Alpine js world, don't know if this is a bug or just a situation of operator error.

The goal is to query some data, get back an array of json items then:

`x-for="item in items"`

which works, but when i try to insert your demo using my for loop data:
[code]

I get nothing :/ All the demos work when not using for loop data. And the for loop data works when not nesting i

[2021-04-23 02:02] KevinBatdorf commented on #122
Did you install the Magic Helpers properly? Check the browser console for any errors.

Can you build your demo on CodePen? (Maybe easiest to just fork a codepen in our demos)

FYI Alpine V3 will make the `$parent` helper necessary (although it should still work, maybe)

[2021-04-23 06:17] mrbm commented on #122
@KevinBatdorf thanks for quick reply, just came back but been working on this for a while so nice to have somebody to bounce ideas of.

I think so because i can run both demos you have in code pen they run fine right next to my non working code getting data from the fetched for loop data. That said this is what I have to load it (running this is a serverless environment:

[code]

https://codepen.i

[2021-04-23 12:45] KevinBatdorf commented on #122
In that codepen, you're missing the component helper script. Seems to work after adding it?

[2021-04-23 13:02] SimoTod commented on #122
Item is not a property of the parent scope, it's just a variable generated on the fly during the loop and it doesn't get passed to the child component and so $parent is not aware of the current interaction, therefore `$parent.item` can't work.

The only functional hack that can help you achieve that is to define the component as the root child of your loop and to use $el.__x_for.item to access the

[2021-04-23 13:06] KevinBatdorf commented on #122
Oh right. This is where that `$loop` helper would be useful.

[2021-04-23 18:26] mrbm commented on #122
@SimoTod @KevinBatdorf Appreciate the quick responses and explanation. I want to take it a little bit further if you don't mind.

In the app I am making, the json data array is not hard coded but instead being fetched in my init() returned data. Perhaps is there an additional layer of waiting or something to that effect that would be needed to access that data in the loop for this counter? I'm get

[2021-04-23 18:35] SimoTod commented on #122
Hard to tell without seeing the code but it doesn't look related to your x-init. Make sure the component is the root child of the template tag (otherwise it won't work) and that you spell the property correctly (2 underscores before x)

[2021-04-23 19:58] KevinBatdorf commented on #122
Just something we discussed adding in the future. Maybe for an Alpine V3 release if it's something that will be useful there (quite possibly not).

[2021-04-23 20:10] mrbm commented on #122
I dropped this into your code pen:

fetch('https://my-json-server.typicode.com/typicode/demo/posts')
  .then(response => response.json())
  .then(data => this.items = data);

With no issues...so i must be doing something wrong with the root child, the hunt begins :/ Thanks for your guy's help!

[2021-04-23 20:10] #122 closed

[2021-04-24 06:18] mrbm opened #125 "iterator not working in table?"
https://codepen.io/storegear/pen/KKaJwmR

So...day 4 on this on why iterator kills everything and now the variable seems to be it doesn't work when in a loop when in a TABLE. Take out the table mark up and it works.

@KevinBatdorf @SimoTod

[2021-04-24 07:41] SimoTod commented on #125
Sorry if i insist: the x-data MUST be on the first child of your template tag, in this case tr.
It's because this way to access the variable is an hack and exploits the way Alpine saves the current loop element to optimise the next refreshes.
Keep in mind that it's an internal API, It's not documented anywhere and it might also change in the future.

[2021-04-24 07:41] #125 closed

[2021-04-24 07:44] SimoTod commented on #125
Closing since it's not a bug and the question is not related to the helpers.
Feel free to open a discussion on the Alpine repo or this one if you have further questions.

[2021-05-01 21:19] SimoTod opened #127 "$parent not working with x-for"
$parent doesn't seem to work with x-for. See https://github.com/alpine-collective/alpine-magic-helpers/discussions/126

[2021-05-04 07:52] SimoTod commented on #127
Morning @clmntgr
Could you confirm https://cdn.jsdelivr.net/gh/simoTod/alpine-magic-helpers@bug/x-for/dist/index.min.js would fix the issue you found, please? Thanks

[2021-05-04 10:35] clmntgr commented on #127
You wanted to ping @creativiii no?

[2021-05-04 10:40] creativiii commented on #127
Thank you for tagging me 😄
I can confirm this fixes the issue [Codepen](https://codepen.io/creativiii-the-scripter/pen/abpgXma?editors=1000)

[2021-05-04 12:32] SimoTod commented on #127
Yep, sorry @clmntgr

[2021-05-04 18:14] #127 closed

[2021-05-04 18:16] SimoTod commented on #127
@creativiii Fixed in v1.2.2. Thanks for reporting the issue

[2021-05-04 18:55] SimoTod commented on #119
So I had a look... The latest version of Alpine, to avoid multiple listeners to be set when livewire refreshes the page, skips the bit that would set new listeners on clone so the test, as it's written, can't work. I don't think it's a real issue though.

[2021-05-04 19:08] KevinBatdorf commented on #119
Yeah, I was going to wait and see if anything comes of this first before diving in: https://github.com/alpinejs/alpine/issues/1171

[2021-05-11 09:57] claytonrcarter commented on #127
FWIW, 1.2.2 fixed a (related?) problem using doing something like `<input type="checkbox" x-model="$parent.selected">`

[2021-06-05 14:08] blakeyman opened #135 "Problem using $scroll with $watch"
Although not achieving behaviour expected the following is loading without error
`<div x-data="chat()" x-init="() => { listen(); $watch('messages', () => $scroll($refs.anchor) ); }">`

However, when I try and add additional parameters such as
`<div x-data="chat()" x-init="() => { listen(); $watch('messages', () => $scroll($refs.anchor, {behavior: auto}) ); }">`

Then I'm getting the following erro

[2021-06-05 14:12] #135 closed

[2021-06-15 21:16] EOM opened #140 "Hi Support AlpineJS V3 alpine-collective..?"
Hi Support AlpineJS V3 alpine-collective ..?

[2021-06-15 23:32] KevinBatdorf commented on #140
We've been talking about creating a new repo for v3 items and leave this one locked to V2. What helpers are you using?

[2021-06-16 04:00] EOM commented on #140
Yes good idea, I just wanted to know if it was compatible with the new version AlpineJS V3. At the moment I continue with the V2, but I will see to migrate to the V3 little by little.
Greetings

[2021-06-16 12:13] karimmtarek opened #141 "RFC: Adding a $select magic helper"
Would adding a DOM select magic helper add value? Make the Alpine developers happier and more productive?

I'm my case, YES!

Quite often I use a vanilla JS DOM selectors in my code (sometimes one, sometimes more):
[code]

I'm thinking of porting `[select-dom](https://www.npmjs.com/package/select-dom)` as a magic helper `$select` or even implement it!

The idea is to have a unified method to query

[2021-06-16 15:12] KevinBatdorf commented on #141
It's useful I think, especially if it will default to the fastest one.

Maybe just use `$s()` though?

[2021-06-16 16:25] SimoTod commented on #141
Out of curiosity, what will the difference be between document.querySelect and $select?

[2021-06-16 16:53] karimmtarek commented on #141
@KevinBatdorf even though `$select` is more verbose its purpose is clearer, how about having `$s` as an alias?
@SimoTod its convenient (less typing, more flexibility). [This package](https://www.npmjs.com/package/select-dom) should shed more light on this.
What do you think?

[2021-06-19 19:09] PaulMorel commented on #140
Just to put my 2 cents in. I usually come and grab the `$component/$parent` helper, but from what I can see this isn't needed in v3 anymore. The other one I use is the `$screen` helper.

[2021-06-19 19:18] KevinBatdorf commented on #140
The component helper would be replaced by `Alpine.store()` I think, and the parent helper will work without even using `$parent` or anything at all, just by pretending it's in the same scope.

There could be extreme edge cases where both would be useful though still, like if you need to access a parent prop that has the same name as the child component (maybe you can't control the incoming data),

[2021-06-24 03:14] colinaut commented on #140
The one I've been using is the $scroll helper. I made a quick version of it using the new v3 Alpine.magic which works without the smooth scroll polyfill. Should be easy enough to include the polyfill, though I've had other pressing dev concerns. It would be great if you roll out a new v3 of the helpers as the $fetch one I'd like to use in another project.

[2021-07-02 15:15] pomartel commented on #140
I think `$component` would still be very useful. I also use the `x-unsafe-html` directive. I might try to pull the code in a custom directive since it looks a lot easier in v3!

[2021-07-02 15:32] HugoDF commented on #140
I think with stores/reusable components, `$component` is a bit of an anti pattern now.

`x-unsafe-html` is probably reasonably easy to implement with the v3 plugin API

[2021-07-02 15:39] pomartel commented on #140
I would really appreciate if someone could help me understand how to replace `$component` in v3. So far I'm doing `document.getElementById('elementId')._x_dataStack[0]` to retrieve a component from a different one which feels like a hack!

[2021-07-02 15:54] HugoDF commented on #140
that's probably the way to do it 😄 but it is now more hacky because there's now scopes that stack (for child to read/modify parent scope) and stores (for siblings components)

[2021-07-02 15:57] pomartel commented on #140
@HugoDF That's why a `$component` magic helper could still be useful. It would relegate all the ugliness out of my code! 😂

[2021-07-02 16:06] KevinBatdorf commented on #140
You would put all the logic from component B into the store, then from component A and B you would use the store to access it. Putting it in the store allows you to access it from anywhere essentially.

It's not a drop in replacement for `$component` but a better pattern. When I wrote `$component` it was more so because I wanted `$parent` and the code was basically the same so I added it then beca

[2021-07-02 17:26] pomartel commented on #140
@KevinBatdorf Thanks! 🙇‍♂️ I will use your snippet of code for now as I'm just trying to migrate to v3 without any regressions for now (so far so good!). But I do understand how a shared store is a better paradigm to share data while keeping components encapsulated. I will give it a go next week!

[2021-07-05 14:05] pascalandy commented on #140
I think the README should have a warning that this projet is not compatible with v3. Thanks!

[2021-07-05 16:02] SimoTod commented on #140
@pascalandy sounds like a good idea, do you mind sending a PR? Thanks

[2021-07-05 17:50] pascalandy commented on #140
@SimoTod done :)

[2021-07-05 18:28] SimoTod commented on #140
Thanks @pascalandy

[2021-07-21 18:22] dcbndev opened #148 "Scroll not working when loaded from another livewire component"
Hello,
I am new to livewire/alpine and trying to debug an error in the console.

I have a livewire component, that renders a form step by step. When a radio input option is selected, the next radio input is loaded and available for selection. On click, the next radio input group is loaded and it scrolls to it. It works well until I load another livewire component inside current livewire component.

[2021-07-22 16:36] basepack opened #151 "Seems like $scroll smooth is not smooth anymore?"
It just snaps to the top of the page if I use this code:
[code]

Or this:
[code]

And that is on a very long page with a fixed back-to-top button, after clicking on it you snap back to top in an instant.

[2021-07-22 16:52] SimoTod commented on #151
Thanks, can you post more details about which browser (including the version) you are using? The project hasn't been updated for 3 months.

[2021-07-22 17:04] basepack commented on #151
Windows 10 Pro with Chrome 91.0.4472.164 (latest)

[2021-07-25 23:28] SimoTod commented on #151
I tried the latest version of Chrome (92.0.4515.107) and it seems to work correctly. I'm a mac user but there shouldn't be any difference with chrome. Can you create a codepen to replicate the issue please? Thanks.

P.s. I think it also won't work if your OS is configured to disable the amount of non-essential motion. (https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion)

[2021-07-25 23:33] SimoTod commented on #148
@dcbndev Can you post a minimal script to replicate the issue? From the description above is not clear what you have on the click handler on your radio button but my gut feeling is that you are trying to scroll to an element that is not available on your page when you click the first time (maybe livewire loads it on click so it's available on the second click?)

[2021-07-25 23:34] #140 closed

[2021-07-26 08:32] basepack commented on #151
YES! You are right, never thought about that being a possibility. But indeed the culprit for me lies in the disabling of motion in Windows.

[2021-07-26 08:32] #151 closed

[2021-07-26 08:52] dcbndev commented on #148
@SimoTod you are right, I am trying to scroll to an element that is loaded when the radio input is clicked, so it doesnt exist at that time, that's why I get the null. Ive been told that a setTimeout of 500ms could help me with scroll. Can you give a hint on how to add 'setTimeout' to 'x-data x-on:click="$nextTick(() => { $scroll('#orderScroll', {behavior: 'smooth'}) })"'?
Thank you

[2021-08-30 10:31] M00nD3v opened #155 "Missing source of script tag in installation-guide?"
Regarding [toolkit/README.md](https://github.com/alpine-collective/toolkit/blob/main/README.md#installation):

Do I really need to paste the following `script`-tag without a source-destination into my code?
[code]

[2021-08-30 13:03] SimoTod commented on #155
Nah, the library hasn't been published yet. Some of the helpers are already available independently though. Do you need a specific one?

[2021-09-13 20:02] Shadecute opened #157 "scroll not working in alpine.js v3"
Hello,
I am new to livewire/alpine and trying to use alpine-magic-helpers **Scroll**
i want use apline.js  lasted version
`    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
`
not working and show me this error in console
`VM8167:3 Uncaught (in promise) ReferenceError: $scroll is not defined
    at eval (eval at qr (cdn.min.js:1), <anonymous>:3:16)
    at cdn.min.js

[2021-09-13 20:17] SimoTod commented on #157
This repo is for v2 (see readme: https://github.com/alpine-collective/alpine-magic-helpers#magic-helpers)

There is a work in progress for v3, $scroll is already available, add `<script src="https://unpkg.com/@alpine-collective/toolkit-scroll@1.0.0/dist/cdn.min.js" defer></script>` before Alpine

[2021-09-13 20:18] #157 closed

[2021-10-20 14:18] basepack opened #159 "$scroll produces promise error"
While using the following setup:
[code]
I got the following error: `Uncaught (in promise) TypeError: Cannot convert undefined or null to object`

Full error:
![image](https://user-images.githubusercontent.com/939500/138110764-d053dcd0-851f-4aff-a433-d09d240e380a.png)

Referenced line:
![image](https://user-images.githubusercontent.com/939500/138110514-e74dde3d-08a7-44a5-aad4-0a43909fdf28.png)

[2021-10-21 16:00] pachacamac opened #160 "[Question] Finding unused translations"
How would you go about finding unused translations? I'm thinking of the possibility of wrapping the `$t` method with a proxy so its possible to memorize which translations keys have been used. Then there could be a helper function that allows you to see unused translations at that point in time. The only alternative I can think of is a regex based approach on the code. Advise appreciated.

edit: S

[2021-10-21 23:39] pachacamac opened #161 "Fallback for missing translations"
Currently if a translation is missing the fallback is an empty string. Would it be possible to define a fallback language or at least have the key-name as a fallback value?

[2021-10-22 00:37] rehhouari commented on #161
It make sense to have a fallback language. I didn't think of it because what I did was copy the translation of english for example and translate each value, so the untranslated values would still be in english.

I'll try to add a "fallbackLocale" parameter

[2021-10-22 02:37] rehhouari commented on #161
added it: https://github.com/rehhouari/alpinejs-i18n/tree/2.2.0#fallback-locale

you can close this issue and open another one in the repo if you have more questions ^^

[2021-11-03 08:26] basepack opened #162 "Installation suggestion is incorrect"
When running the suggested install command I get errors:

[code]

When searching npm I see the following:
[code]

[2021-11-08 06:46] basepack opened #163 "[V3] Installation suggestion incorrect?"
When running the suggested install command I get these errors:

[code]

When searching npm I see the following:
[code]

[2021-11-08 06:47] #162 closed

[2021-11-13 12:44] rabol opened #164 "Cannot install"
Hi

npm install @alpine-collective/toolkit --save

Fail with this error:

[code]

[2021-12-05 19:52] SimoTod commented on #164
wrong repo, this one is for the old v2. alpine-collective/toolkit wasn't published. It should be available now.

[2021-12-05 19:52] #164 closed

[2021-12-05 19:53] SimoTod commented on #163
wrong repo, this one is for the old v2. alpine-collective/toolkit wasn't published. It should be available now.

[2021-12-05 19:53] #163 closed

[2021-12-05 19:53] SimoTod commented on #160
no worries

[2021-12-05 19:53] #160 closed

[2021-12-05 19:54] #155 closed

[2021-12-05 19:54] #148 closed

[2021-12-05 19:55] SimoTod commented on #141
Closing as we are not planning to add anything to this package. If you are still interested, please reopen on alpine-collective/toolkit

[2021-12-05 19:55] #141 closed

[2021-12-05 19:55] #119 closed

[2022-02-08 16:39] ralphjsmit opened #169 "Installing doesn't work in V3"
Hey everyone,

I'm upgrading a project from a colleague to make use of compiling a single JS file with `npm` modules instead of using several script tags.

I noticed that we're using the `$screen` helper (and perhaps more :) ), so I updated our `app.js` file to the following:

[code]

Unfortunately every time I try I to use this in the browser, I get the following error in the console:

<img width

[2022-02-08 21:44] SimoTod commented on #169
Thanks for the heads up. I'll have a look tomorrow. P.s. If you only need $screen, you can try to install only that helper.

[2022-02-09 08:10] ralphjsmit commented on #169
Thanks! Could you point me to some documentation or sth about installing the screen and scroll helper?

(It was quite difficult via Google/npm to find the right repo(s) with the correct version and documentation..)

[2022-02-09 08:18] SimoTod commented on #169
https://github.com/alpine-collective/toolkit/blob/main/packages/%24screen/README.md#npm

[2022-02-09 08:33] ralphjsmit commented on #169
Awesome man, that works! Thanks! Didn't figure out that the names in the table of the main readme were clickable🤯

I installed the plugins and everything works now, so you could close this issue (or keep it open if you want to doublecheck the above issue).

[2022-02-09 12:34] SimoTod commented on #169
👍 I'll keep it open for now

[2022-03-24 16:36] drdogbot7 commented on #169
This seems to be an issue with the Interval plugin. I can import all of the other packages without any errors.

[code]

… but I get errors when I try to import the whole toolkit or just Inverval

[code]

ERROR: `Uncaught TypeError: callback is not a function`

[code]

ERROR: Uncaught TypeError: callback is not a function